<div class="center jumbotron">
  <h1>Welcome to the Sample App</h1>
  <p>
      This is the homepage for the <a href="#">Ruby on Rails Tutorials</a> Sample App
  </p>

  <h1>
    How to try this app:
  </h1>

  <h2>Visit some user profile</h2>
  <div>
    <ul>
      <%= link_to 'Just created user', '/users/10' %>
    </ul>
    <ul>
      <%= link_to '"Active" user', '/users/1' %>
    </ul>
  </div>

  <h2>Create an account to try its awesome feature.</h2>
  <div>
    <ul>Go to <%= link_to 'signup page', signup_path %>. BLA-BLA-BLA</ul>
    <ul>Check activation email. BLA-BLA-BLA</ul>
    <ul>Go to the login page. BLA-BLA-BLA</ul>
  </div>

  <h2>Just kidding.</h2>
  <ul>You don't have to go through all of that to try this stupid app.</ul>

  <h2>Just click the button below.</h2>

  <div class="center">
    <%= form_with(url: '/login', model: @user, scope: 'session', local: true, method: :post) do |f| %>
      <%= f.hidden_field :email %>
      <%= hidden_field_tag 'session[password]', 'password' %>
      <%= hidden_field_tag 'session[remember_me]', '1' %>
      <%= f.button class: "btn btn-rainbow" do %>
        <div class="flex flex-row flex-center">
          <div class="wrapper flex flex-row">
            <span class="text">Try this app</span>
            <span class="flex-center">
              <span class="margin-tran">
                <span class="my-arrow flex-center">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 16">
                    <path d="M12.58,0a1.19,1.19,0,0,0-1,.89,1.53,1.53,0,0,0,.29,1.42l3.71,4.53H1c-.63,0-1,.48-1,1.22a1.09,1.09,0,0,0,1.2,1.1H15.61l-3.73,4.52a1.52,1.52,0,0,0,0,1.91,1,1,0,0,0,1.63,0L19.18,9,20,8l-.82-.94L13.51.41A1,1,0,0,0,12.58,0Z"></path>
                  </svg>
                </span>
              </span>
            </span>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
