<!-- PAGE CONTENT - BEGIN -->
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="center homepage-heading">
      <h1>
        <span class="rainbow-text">
          Sample App
        </span>
      </h1>

      <p>A Twitter clone app <i>"built almost from scratch"</i>.</p>

      <p>
        <button class="btn btn-default">
          <%= link_to 'Rails 6', "https://rubyonrails.org/" %>
        </button>
        <button class="btn btn-default">
          <%= link_to 'Bootstrap 3', "https://getbootstrap.com/docs/3.4/" %>
        </button>
      </p>

      <%= link_to "https://github.com/lethang7794/rails_sample_app" do %>
        <button class="btn btn-default">
          <%= render 'shared/svg/github' %>
          <span>View on Github</span>
        </button>
      <% end %>
    </div>

    <div class="jumbotron">
      <h2>
        Let's take a look at it
      </h2>

      <p>First, visit some user profile at Sample App:</p>
      <div>
        <ul>
          <%= link_to 'Barack Obama', '/BarackObama' %>
        </ul>
        <ul>
          <%= link_to 'Newest user', user_path(@newest_user), target: :_blank, rel: "noopener noreferrer" if @newest_user %>
        </ul>
        <ul>
          <%= link_to 'Demo user', user_path(@demo_user) if @demo_user%>
        </ul>
      </div>

      <p>Next, create an account to try its awesome features.</p>

    <% if @demo_user %>
      <p>Just kidding. This is an awesome app. Just click the button below.</p>

      <div class="center">
        <%= form_with(url: '/login', model: @demo_user, scope: 'session', local: true, method: :post, id: "demo-user-login-form") do |f| %>
          <%= f.hidden_field :email %>
          <%= hidden_field_tag 'session[forwarding_url]', "/home" %>
          <%= hidden_field_tag 'session[password]', 'password' %>
          <%= hidden_field_tag 'session[remember_me]', '1' %>
        <% end %>

        <button id="demo-user-login-button" class="btn btn-rainbow">
          <div class="flex flex-row flex-center">
            <div class="wrapper flex flex-row">
              <span class="text" style="min-width: 110px;">Try this app</span>
              <span class="flex-center">
                <span class="margin-tran">
                  <span class="my-arrow flex-center">
                    <%= render 'shared/svg/arrow' %>
                  </span>
                </span>
              </span>
            </div>
          </div>
        </button>

        <div id="logging-in-text-wrapper" style="height: 0px;"></div>

        <script type="text/javascript">
          var $button = $("#demo-user-login-button .text");
          var $button_text = $button.html();
          console.log($button_text);

          $("#demo-user-login-button").click(function() {
            setTimeout(function () {
              $("#logging-in-text-wrapper").append("<%= escape_javascript(render partial: 'logging_in') %>");
            }, 500);
            setTimeout(function () {
              $("#logging-in-text").removeClass("opacity-0 translateX--30px");
            }, 550);
            setTimeout(function () {
              $("#demo-user-login-form").submit();
            }, 1500);
          });
        </script>
      </div>
    <% end %>
    </div>
  </div>
</div>
<!-- PAGE CONTENT - END -->
