<div id="micropost-<%= micropost.id %>-heart" class="heart" style="display: none;"></div>
<%= form_tag(upvote_micropost_path(micropost), method: :put, remote: true, id: "micropost-#{micropost.id}-upvote-form") do %>
  <button type="button" class="pseudo">
    <div class="upvote stat flex flex-row flex-center-y">
      <div class="button">
        <div class="button-wrapper flex-center">
          <div id="micropost-<%= micropost.id %>-vote-button-wrapper" class="button flex-center" aria-hidden="true">
            <%= render 'shared/svg/heart' %>
          </div>
        </div>
      </div>
      <div class="value">
        <div id="micropost-<%= micropost.id %>-vote-value-wrapper" class="flex-inline vote-value-wrapper tabular-nums">
        <% if micropost.get_upvotes.size > 0 %>
          <span id="micropost-<%= micropost.id %>-vote-value" class="stats vote-value tran-03s">
        <% else %>
          <span id="micropost-<%= micropost.id %>-vote-value" class="stats vote-value tran-03s" style="visibility: hidden">
        <% end %>
            <%= micropost.get_upvotes.size %>
          </span>
        </div>
      </div>
    </div>
  </button>
  <input type="submit" style="display: none"></input>
<% end %>

<script type="text/javascript">
  /* when a user clicks, toggle the 'is-animating' class */
  $("#micropost-<%= micropost.id %>-upvote-form > button.pseudo").on('click', function(e) {
    $("#micropost-<%= micropost.id %>-heart").show().toggleClass('is-animating');
  });

  $("#micropost-<%= micropost.id %>-heart").on('click', function(){
    $(this).toggleClass('is-animating');
  });

  /*when the animation is over, remove the class*/
  $("#micropost-<%= micropost.id %>-heart").on('animationend', function(){
    $(this).toggleClass('is-animating');
    $("#micropost-<%= micropost.id %>-upvote-form input").click();
  });
</script>
