<div id="user-<%= user.id %>-container" class="user-container border-bottom">
  <div class="flex flex-row">

    <%= render partial: 'shared/avatar', locals: { user: user } %>

    <div class="main-content flex-grow-1 flex flex-row">
      <div class="content-wrapper flex-grow-1 flex flex-column">
        <div class="heading flex flex-row flex-center">
          <div class="flex flex-column">
            <span class="name">
              <%= link_to user.name, user %>
            </span>
            <span class="username">
              <%= link_to "@#{user.username}", user %>
            </span>
          </div>
          <span class="flex-grow-1"></span>
          <span class="delete-option">
            <% if current_user && current_user.admin? && !current_user?(user) %>
              <%= link_to '(delete)', user,   method: :delete,
                                                data: { confirm: 'You sure?'} %>
            <% end %>
          </span>
          <span class="flex-120 flex justify-content-flex-end">
            <%= render partial: 'shared/follow_form', locals: {user: user} %>
          </span>
        </div>
        <div class="bio">
          <% if user.bio %>
            <span class="bio"><%= sanitize user.bio_display.html_safe %></span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
	$("#user-<%= user.id %>-container").click(function() {
		window.location.href = "<%= url_for user %>";
	});
</script>
