<% if current_page?(controller: 'users', action: 'show') %>
  <%= provide :page_title, @user.name %>
<% elsif current_page?(controller: 'users', action: 'media') %>
  <%= provide :page_title, "Media microposts from #{@user.name}" %>
<% end %>

<!-- PAGE CONTENT - BEGIN -->
<div class="row">
	<div class="col-md-6 col-md-offset-3">
    <div class="user-info-wrapper border-wrapper-rl">
      <%= render 'shared/user_info' %>
    </div>

    <%# USER TABS - BEGIN %>
    <div class="flex flex-row border-wrapper-rl">
      <div class="flex-grow-1 flex-center tab-container">
        <%= active_link_to 'Microposts', user_path(@user), class: "flex-grow-1 flex-center", active: [users: :show] %>
      </div>
      <div class="flex-grow-1 flex-center tab-container">
        <% if logged_in? %>
          <%= active_link_to 'Media', media_user_path(@user), class: "flex-grow-1 flex-center", active: [users: :media] %>
        <% else %>
          <!-- Button trigger modal -->
          <div class="pseudo-tab flex-center" data-toggle="modal" data-target="#login-modal-media-user-<%= @user.id %>">
            Media
          </div>

          <!-- Modal -->
          <div class="modal fade login-modal" id="login-modal-media-user-<%= @user.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Login to access that page</h4>
                </div>
                <div class="modal-body">
                  <%= render partial: 'shared/login_form_modal', locals: { forward_to: media_user_path(@user) } %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <%# USER TABS - END %>

		<% if @user.microposts.any? %>
			<ol class="microposts">
				<%= render @microposts %>
			</ol>
			<div class="flex-center">
				<%= will_paginate @microposts %>
			</div>
    <% else %>
      <%= render 'shared/nothing' %>
    <% end %>
	</div>
</div>
<!-- PAGE CONTENT - END -->
