<% if current_page?(controller: 'users', action: 'following') %>
  <%= provide :page_title, "People following #{@user.name}" %>
<% elsif current_page?(controller: 'users', action: 'followers') %>
  <%= provide :page_title, "People followed by #{@user.name}" %>
<% end %>

<!-- PAGE CONTENT - BEGIN -->
<div class="row">
	<!-- Following/Followers list - Begin -->
	<div class="col-md-6 col-md-offset-3 follow-list">
		<!-- User overview - Begin -->
    <div class="user-info-wrapper border-wrapper-rl">
      <%= render 'shared/user_info' %>
    </div>
		<!-- User overview - End -->

		<div class="flex flex-row border-wrapper-rl border-wrapper-b">
			<div class="flex-grow-1 flex-center tab-container">
				<%= active_link_to 'Following', following_user_path(@user), class: "flex-grow-1 flex-center" %>
			</div>
			<div class="flex-grow-1 flex-center tab-container">
				<%= active_link_to 'Followers', followers_user_path(@user), class: "flex-grow-1 flex-center" %>
			</div>
		</div>

		<% if @users.any? %>
			<ol class="users follow">
				<%= render @users %>
			</ol>
			<div class="flex-center">
				<%= will_paginate @microposts %>
			</div>
		<% end %>
	</div>
	<!-- Following/Followers list - End -->
</div>
<!-- PAGE CONTENT - END -->
