<% if current_page?(controller: 'users', action: 'following') %>
  <%= provide :page_title, "People followed by #{@user.name} (@#{@user.username})" %>
<% elsif current_page?(controller: 'users', action: 'followers') %>
  <%= provide :page_title, "People following #{@user.name} (@#{@user.username})" %>
<% end %>

<!-- PAGE CONTENT - BEGIN -->
<div class="row">
	<!-- Following/Followers list - Begin -->
	<div class="col-md-6 col-md-offset-3 follow-list">
		<div class="tab-bar flex flex-row border-right border-bottom border-left position-sticky top-70 bg-white">
			<div class="tab-container flex-grow-1 flex-center">
				<%= active_link_to following_user_path(@user), remote: true, class: "tab-link following-link flex-grow-1 flex-center" do %>
					<span>Following</span>
				<% end %>
			</div>
			<div class="tab-container flex-grow-1 flex-center">
				<%= active_link_to followers_user_path(@user), remote: true, class: "tab-link followers-link flex-grow-1 flex-center" do %>
					<span>Followers</span>
				<% end %>
			</div>
		</div>

    <div id="tab-content">
      <%= render partial: 'shared/users', locals: { users: @users } %>
    </div>
	</div>
	<!-- Following/Followers list - End -->
</div>
<!-- PAGE CONTENT - END -->

<%# Replace tab content with loading spinner before make Ajax request %>
<script type="text/javascript">
  $('.tab-link').bind('ajax:beforeSend', function(){
    $("#tab-content").html("<%= escape_javascript(render partial: 'shared/svg/loading_top') %>");
  });
</script>
