<% if current_page?(controller: 'users', action: 'show') %>
  <% if @user.email %>
    <%= provide :page_title, "#{@user.name} (@#{@user.username})" %>
  <% else %>
    <%= provide :page_title, "Profile" %>
  <% end %>
<% elsif current_page?(controller: 'users', action: 'media') %>
  <%= provide :page_title, "Media microposts from #{@user.name} (@#{@user.username})" %>
<% end %>

<% if @user.email %> <%# Existed user %>
<!-- PAGE CONTENT - BEGIN -->
<div class="row">
	<div class="col-md-6 col-md-offset-3">
    <div class="page-main-content">
      <div class="user-info-wrapper border-right border-left">
        <%= render 'shared/user_info' %>
      </div>

      <%# USER TABS - BEGIN %>
      <div class="tab-bar flex flex-row border-right border-left">
        <div class="flex-grow-1 flex-center tab-container">
          <%= active_link_to 'Microposts', user_path(@user), remote: true, class: "tab-link show-link flex-grow-1 flex-center", active: [users: :show] %>
        </div>
        <div class="flex-grow-1 flex-center tab-container">
          <%= render partial: 'shared/links/media', locals: { user: @user } %>
        </div>
      </div>
      <%# USER TABS - END %>

      <div id="tab-content">
        <%= render 'shared/load_with_ajax' %>
      </div>
    </div>
  </div>
</div>
<!-- PAGE CONTENT - END -->
<% else %> <%# Non Existed user %>
  <%= render 'shared/non_existed_user' %>
<% end %>

<% if logged_in? %>
  <%# Replace tab content with loading spinner before make Ajax request %>
  <script type="text/javascript">
    $('.tab-link').bind('ajax:beforeSend', function(){
      $("#tab-content").html("<%= escape_javascript(render partial: 'shared/svg/loading_top') %>");
    });
  </script>
<% else %>
  <script type="text/javascript">
    $( document ).ready(function() {
      $('.login-modal').on('shown.bs.modal', function (e) {
        var $modal = $(e.target);
        var $modal_content = $modal.find(".modal-content");
        var container = $modal_content;

        var $modal_media_height_check = $modal.find(".media-height-check");
        $( window ).resize(function() {
          $modal_media_height_check = $modal.find(".media-height-check");
        });

        $(document).mouseup(function (e) {
          if ($modal_media_height_check.css("height") == "0px" && !container.is(e.target) && container.has(e.target).length === 0) {
            $modal.modal('hide');
          }
        });
      });
    });
  </script>
<% end %>
