<%= provide :page_title, @user.name %>
<div class="row">
	<aside class="col-md-4">
		<%= render 'shared/user_info' %>
	</aside>
	<div class="col-md-8">
		<% if @user.microposts.any? %>
			<h3>
				Microposts (<span><%= @user.microposts.count %></span>)
			</h3>
			<div class="flex flex-row">
				<div class="flex-grow-1 flex-center tab-container">
					<%= active_link_to 'Microposts', user_path(@user), class: "flex-grow-1 flex-center", active: [users: :show] %>
				</div>
				<div class="flex-grow-1 flex-center tab-container">
					<%= active_link_to 'Media', media_user_path(@user), class: "flex-grow-1 flex-center", active: [users: :media] %>
				</div>
			</div>
			<ol class="microposts">
				<%= render @microposts %>
			</ol>
			<div class="flex-center">
				<%= will_paginate @microposts %>
			</div>
		<% end %>
	</div>
</div>
