<%= form_with(model: @micropost, local: true) do |f| %>
  <div class="flex flex-column">
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
      <%= f.text_area :content, placeholder: "Compose new micropost..." %>
    </div>
    <div>
      <%= f.submit "Post", class: "btn my-button"%>
    </div>
    <div class="image">
      <%= f.file_field :image, accept: "image/png, image/jpeg, image/gif" %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $("#micropost_image").on("change", function () {
    const size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 3) {
      alert("Image is bigger than 3MB, please choose a smaller image.");
      $("#micropost_image").val("")
    }
  });
</script>
