<% col ||= 6 %>
<% offset ||= 3 %>

<% no_border_bottom ||= false %>
<% if no_border_bottom %>
  <% no_border_bottom = "border-bottom-0" %>
<% else %>
  <% no_border_bottom = nil %> <%# Default value %>
<% end %>

<div class="row position-sticky top-4">
  <div class="col-md-<%= col %> col-md-offset-<%= offset %>">
    <div class="flex flex-row mini-navbar-container border <%= no_border_bottom %> bg-white">
      <div class="left-side flex-center">
        <div id= 'back-button'>
          <div class="button-wrapper flex-center mini-navbar-button-wrapper">
            <div class="button flex-center" aria-hidden="true">
              <%= render 'shared/svg/back' %>
            </div>
          </div>
        </div>

        <%= link_to root_path, id: 'home-button' do %>
          <div class="button-wrapper flex-center mini-navbar-button-wrapper">
            <div class="button flex-center" aria-hidden="true">
              <%= render 'shared/svg/home' %>
            </div>
          </div>
        <% end %>

        <%# Begin - Remove unnecessary button %>
        <script>
          if (history.length > 2) {
            $( "#home-button" ).remove();
          } else {
            $( "#back-button" ).remove();
          }

          document.getElementById('back-button').onclick = function goBack() {
            history.back();
          }
        </script>
        <%# End - Remove unnecessary button %>
      </div>
      <div class="middle-side flex-grow-1 flex flex-column">
        <div class="flex-grow-1 flex flex-row flex-align-items-center">
          <h2 id="mini-bar-heading">
            <%= heading %>
          </h2>
        </div>
      <% if detail %>
        <div id="mini-bar-detail" class="detail">
          <%= detail %>
        </div>
      <% end %>
      </div>
      <div class="right-side"></div>
    </div>
  </div>
</div>
