<% col ||= 6 %>
<% offset ||= 3 %>

<div class="row">
  <div class="col-md-<%= col %> col-md-offset-<%= offset %>">
    <div class="flex flex-row mini-navbar-container">
      <div class="left-side flex-center">
        <%= link_to 'javascript:history.back()' do %>
          <div class="button-wrapper flex-center back-button-wrapper">
            <div class="button flex-center back-button" aria-hidden="true">
              <svg viewbox="0 0 24 24" class="r-13gxpu9 r-4qtqp9 r-yyyyoo r-1q142lx r-50lct3 r-dnmrzs r-bnwqim r-1plcrui r-lrvibr">
                <g>
                  <path d="M20 11H7.414l4.293-4.293c.39-.39.39-1.023 0-1.414s-1.023-.39-1.414 0l-6 6c-.39.39-.39 1.023 0 1.414l6 6c.195.195.45.293.707.293s.512-.098.707-.293c.39-.39.39-1.023 0-1.414L7.414 13H20c.553 0 1-.447 1-1s-.447-1-1-1z"></path>
                </g>
              </svg>
            </div>
          </div>
        <% end %>
      </div>
      <div class="middle-side flex-grow-1">
        <h2 id="mini-bar-heading">
          <%= heading %>
        </h2>
        <div class="detail">
          <%= detail %>
        </div>
      </div>
      <div class="right-side"></div>
    </div>
  </div>
</div>
