<% col ||= 6 %>
<% offset ||= 3 %>

<% no_border_bottom ||= false %>
<% if no_border_bottom %>
  <% no_border_bottom = "border-bottom-0" %>
<% else %>
  <% no_border_bottom = nil %> <%# Default value %>
<% end %>

<div class="row position-sticky top-4">
  <div class="col-md-<%= col %> col-md-offset-<%= offset %>">
    <div class="flex flex-row mini-navbar-container border <%= no_border_bottom %> bg-white">
      <div id="mini-navbar-button" class="left-side flex-center">
        <%= render 'shared/buttons/mini_navbar_button' %>
      </div>
      <div class="middle-side flex-grow-1 flex flex-column">
        <div class="flex-grow-1 flex flex-row flex-align-items-center">
          <h2 id="mini-bar-heading">
            <%= heading %>
          </h2>
        </div>
      <% if detail %>
        <div id="mini-bar-detail" class="detail">
          <%= detail %>
        </div>
      <% end %>
      </div>
      <div class="right-side"></div>
    </div>
  </div>
</div>
