<% col ||= 6 %>
<% offset ||= 3 %>

<div class="row">
  <div class="col-md-<%= col %> col-md-offset-<%= offset %>">
    <div class="flex flex-row mini-navbar-container">
      <div class="left-side flex-center">
        <%= link_to 'javascript:history.back()' do %>
          <div class="button-wrapper flex-center back-button-wrapper">
            <div class="button flex-center" aria-hidden="true">
              <%= render 'shared/svg/back' %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="middle-side flex-grow-1">
        <h2 id="mini-bar-heading">
          <%= heading %>
        </h2>
        <div class="detail">
          <%= detail %>
        </div>
      </div>
      <div class="right-side"></div>
    </div>
  </div>
</div>
