<% @user ||= current_user %>

<div class="flex flex-row flex-wrap stats">
  <div class="stat">
    <%= render 'shared/links/following' %>
  </div>
  <div class="stat">
    <%= link_to followers_user_path(@user) do %>
      <div id="followers_of_<%= @user.id %>_wrapper" class="flex-inline followers-wrapper">
        <span id="followers_of_<%= @user.id %>" class="followers_of_<%= @user.id %> stats followers tran-03s">
          <%= @user.followers.count %>
        </span>
      </div>
      <span>Followers</span>
    <% end %>
  </div>
</div>
