<% @user ||= current_user %>

<div class="flex flex-row flex-wrap stats">
  <div class="stat">
    <% if logged_in? %>
      <%= link_to following_user_path(@user) do %>
        <div id="following_of_<%= @user.id %>_wrapper" class="flex-inline following-wrapper">
          <span id="following_of_<%= @user.id %>" class="following_of_<%= @user.id %> stats following tran-03s">
            <%= @user.following.count %>
          </span>
        </div>
        <span>Following</span>
      <% end %>
    <% else %>

      <!-- Button trigger modal -->
      <div class="pseudo-link" data-toggle="modal" data-target="#login-modal-following-user-<%= @user.id %>">
        <div id="following_of_<%= @user.id %>_wrapper" class="flex-inline following-wrapper">
          <span id="following_of_<%= @user.id %>" class="following_of_<%= @user.id %> stats following tran-03s">
            <%= @user.following.count %>
          </span>
        </div>
        <span>Following</span>
      </div>

      <!-- Modal -->
      <div class="modal fade login-modal" id="login-modal-following-user-<%= @user.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Login to access that page</h4>
            </div>
            <div class="modal-body">
              <%= render partial: 'shared/login_form_modal', locals: { forward_to: following_user_path(@user) } %>
            </div>
          </div>
        </div>
      </div>

    <% end %>
  </div>
  <div class="stat">
    <%= link_to followers_user_path(@user) do %>
      <div id="followers_of_<%= @user.id %>_wrapper" class="flex-inline followers-wrapper">
        <span id="followers_of_<%= @user.id %>" class="followers_of_<%= @user.id %> stats followers tran-03s">
          <%= @user.followers.count %>
        </span>
      </div>
      <span>Followers</span>
    <% end %>
  </div>
</div>
