<% @user ||= current_user %>

<div class="flex flex-row flex-wrap stats">
  <div class="stat">
    <%= link_to following_user_path(@user) do %>
      <strong id="following_of_<%= @user.id %>" class="stats">
        <%= @user.following.count %>
      </strong>
      Following
    <% end %>
  </div>
  <div class="stat">
    <%= link_to followers_user_path(@user) do %>
      <strong id="followers_of_<%= @user.id %>" class="stats">
        <%= @user.followers.count %>
      </strong>
      Followers
    <% end %>
  </div>
</div>
