<section class="user_info">
  <div class="flex flex-row">
    <div class="flex-80 flex flex-column">
      <div class="flex-80">
        <!-- MODAL WRAPPER - BEGIN -->
        <div class="modal-wrapper">
          <!-- MODAL TOGGLE - BEGIN -->
          <div class="modal-toggle" data-toggle="modal" data-target="#avatar-modal-<%= @user.id %>">
            <div class="dimmer-wrapper">
              <div class="user_avatar">
                <%= gravatar_for @user %>
              </div>
              <div class="dimmer transition-03s"></div>
            </div>
          </div>
          <!-- MODAL TOGGLE - END -->
          <!-- MODAL - BEGIN -->
          <%= render partial: 'shared/modals/avatar', locals: { user: @user } %>
          <!-- MODAL - END -->
        </div>
        <!-- MODAL WRAPPER - END -->
      </div>
    </div>
    <div class="info flex flex-column flex-grow-1">
      <div class="flex flew-row flex-align-items-center">
        <div>
          <h1>
            <%= @user.name %>
          </h1>
          <div>@<%= @user.username %></div>
        </div>
        <div class="flex-grow-1 flex flew-row justify-content-flex-end">
          <%= render partial: 'shared/follow_form', locals: { user: @user } %>
        </div>
      </div>
      <section class="stats">
        <%= render 'shared/svg/calendar' %>
        Joined <%= Date::MONTHNAMES[@user.created_at.month] %> <%= @user.created_at.year %>
        <%= render 'shared/stats' %>
      </section>
    </div>
  </div>
</section>
