<section class="user_info">
  <div class="flex flex-column">
    <div class="header"></div>
    <div class="info">
      <!-- MODAL WRAPPER - BEGIN -->
      <div class="user-avatar-wrapper modal-wrapper rainbow-hover">
        <!-- MODAL TOGGLE - BEGIN -->
        <div class="user_avatar_position">
          <div class="rainbow-outer cursor-pointer">
            <div class="rainbow-inner h-128 w-128 t--4 l--4"></div>
          </div>
          <div class="user_avatar rounded-circle overflow-hidden dimmer-wrapper modal-toggle cursor-pointer" data-toggle="modal" data-target="#avatar-modal-<%= @user.id %>">
            <%= gravatar_for @user, size: 120 %>
            <div class="dimmer"></div>
          </div>
        </div>
        <!-- MODAL TOGGLE - END -->
        <!-- MODAL - BEGIN -->
        <%= render partial: 'shared/modals/avatar', locals: { user: @user } %>
        <!-- MODAL - END -->
      </div>
      <!-- MODAL WRAPPER - END -->
      <div class="content-wrapper flex-grow-1 flex flex-column">
        <div class="heading flex flex-row flex-center">
          <div class="flex flex-column">
            <div class="user username">
              <h1>
                <%= @user.name %>
              </h1>
              <div>@<%= @user.username %></div>
            </div>
          </div>
          <span class="flex-grow-1"></span>
          <span class="flex-120 flex justify-content-flex-end">
            <%= render partial: 'shared/follow_form', locals: {user: @user} %>
          </span>
        </div>
        <% if @user.bio %>
          <div class="bio-wrapper">
            <span class="bio"><%= sanitize @user.bio_display.html_safe %></span>
          </div>
        <% end %>
        <section class="stats">
          <div class="extra flex flex-row flex-wrap">
          <% if @user.location %>
            <div class="location stat">
              <%= render 'shared/svg/location' %>
              <span><%= @user.location %></span>
            </div>
          <% end %>
            <div class="joined stat">
              <%= render 'shared/svg/calendar' %>
              <span>
                Joined <%= Date::MONTHNAMES[@user.created_at.month] %> <%= @user.created_at.year %>
              </span>
            </div>
          </div>
          <%= render 'shared/stats' %>
        </section>
      </div>
    </div>
  </div>
</section>
