<section class="user_info">
  <div class="flex flex-row">
    <div class="flex-80 flex flex-column">
      <div class="flex-80">
        <div class="dimmer-wrapper" data-toggle="modal" data-target="#my-micropost-modal-<%= @user.id %>">
          <div class="user_avatar">
            <%= gravatar_for @user %>
          </div>
          <div class="dimmer transition-03s"></div>
        </div>
        <!-- MODAL - BEGIN -->
        <div class="modal fade" id="my-micropost-modal-<%= @user.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <div class="flex-center max-dem no-scroll">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <div class="button-wrapper my-flex-container flex-center">
                      <div class="button" aria-hidden="true">
                        <svg viewBox="0 0 24 24"><g><path d="M13.414 12l5.793-5.793c.39-.39.39-1.023 0-1.414s-1.023-.39-1.414 0L12 10.586 6.207 4.793c-.39-.39-1.023-.39-1.414 0s-.39 1.023 0 1.414L10.586 12l-5.793 5.793c-.39.39-.39 1.023 0 1.414.195.195.45.293.707.293s.512-.098.707-.293L12 13.414l5.793 5.793c.195.195.45.293.707.293s.512-.098.707-.293c.39-.39.39-1.023 0-1.414L13.414 12z"></path></g></svg>
                      </div>
                    </div>
                  </button>
                  <div>
                    <%= gravatar_for(@user, size: 2048)%>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- MODAL - END -->
      </div>
    </div>
    <div class="info flex flex-column flex-grow-1">
      <div class="flex flew-row flex-align-items-center">
        <div>
          <h1>
            <%= @user.name %>
          </h1>
        </div>
        <div class="flex-grow-1 flex flew-row justify-content-flex-end">
          <%= render partial: 'shared/follow_form', locals: { user: @user } if logged_in? %>
        </div>
      </div>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
    </div>
  </div>
</section>
