<section class="user_info">
  <div class="flex flex-column">
    <div class="header"></div>
    <div class="info">
      <!-- MODAL WRAPPER - BEGIN -->
      <div class="user-avatar-wrapper modal-wrapper">
        <!-- MODAL TOGGLE - BEGIN -->
        <div class="modal-toggle" data-toggle="modal" data-target="#avatar-modal-<%= @user.id %>">
          <div class="user_avatar rounded-circle overflow-hidden dimmer-wrapper">
            <%= gravatar_for @user %>
            <div class="dimmer transition-03s"></div>
          </div>
        </div>
        <!-- MODAL TOGGLE - END -->
        <!-- MODAL - BEGIN -->
        <%= render partial: 'shared/modals/avatar', locals: { user: @user } %>
        <!-- MODAL - END -->
      </div>
      <!-- MODAL WRAPPER - END -->
      <div class="content-wrapper flex-grow-1 flex flex-column">
        <div class="heading flex flex-row flex-center">
          <div class="flex flex-column">
            <div class="user username">
              <h1>
                <%= @user.name %>
              </h1>
              <div>@<%= @user.username %></div>
            </div>
          </div>
          <span class="flex-grow-1"></span>
          <span class="flex-120 flex justify-content-flex-end">
            <%= render partial: 'shared/follow_form', locals: {user: @user} %>
          </span>
        </div>
        <div class="bio-wrapper">
          <% if @user.bio %>
            <span class="bio"><%= sanitize @user.bio_display.html_safe %></span>
          <% end %>
        </div>
        <section class="stats">
          <div class="extra flex flex-row flex-wrap">
            <div class="location stat">
              <%= render 'shared/svg/location' %>
              <span><%= @user.location %></span>
            </div>
            <div class="joined stat">
              <%= render 'shared/svg/calendar' %>
              <span>
                Joined <%= Date::MONTHNAMES[@user.created_at.month] %> <%= @user.created_at.year %>
              </span>
            </div>
          </div>
          <%= render 'shared/stats' %>
        </section>
      </div>
    </div>
  </div>
</section>
