<% if logged_in? %>
  <%= link_to following_user_path(@user) do %>
    <%= render partial: 'shared/following_count', locals: { user: @user } %>
    <span>Following</span>
  <% end %>

<% else %>
  <!-- Button trigger modal -->
  <div class="pseudo-link" data-toggle="modal" data-target="#login-modal-following-user-<%= @user.id %>">
    <%= render partial: 'shared/following_count', locals: { user: @user } %>
    <span>Following</span>
  </div>

  <!-- Modal -->
  <div class="modal fade login-modal" id="login-modal-following-user-<%= @user.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header center">
          <%= render 'shared/svg/people' %>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title" id="myModalLabel">
            Don't miss what happening
          </h3>
          <p>
            People on Sample App are the first one to know.
          </p>
        </div>
        <div class="modal-body">
          <%= render partial: 'shared/login_form_modal', locals: { forward_to: following_user_path(@user) } %>
        </div>
      </div>
    </div>
  </div>
<% end %>
