<!-- Button trigger modal -->
<div data-toggle="modal" data-target="#login-modal-follow-user-<%= @user.id %>">
  <%= button_tag class: "btn follow-button" do %>
    <span>Follow</span>
  <% end %>
</div>

<!-- Modal -->
<div class="modal fade login-modal" id="login-modal-follow-user-<%= @user.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header center">
        <%= render 'shared/svg/follow' %>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel">
          Follow <strong><%= @user.name %></strong> to see what they share on Sample App.
        </h3>
        <p>
          Sign up so you never miss their Microposts.
        </p>
      </div>
      <div class="modal-body">
        <%= render partial: 'shared/login_form_modal', locals: { forward_to: user_path(@user) } %>
      </div>
    </div>
  </div>
</div>
