<li id="micropost-<%= micropost.id %>">
	<%= link_to gravatar_for(micropost.user, size:50), micropost.user %>

	<span class="user">
		<%= link_to micropost.user.name, micropost.user %>
	</span>

	<span class="timestamp">
		·
		<%= time_ago_in_words(micropost.created_at) %>
	</span>

	<% if current_user?(micropost.user) %>
		<span class="delete">
			·
			<%= link_to 'delete', micropost, method: :delete, data: { confirm: 'Are you sure?'} %>
		</span>
	<% end %>

	<span class="content">
		<%= micropost.content %>
		<div class="image center">
			<%= image_tag micropost.display_image if micropost.image.attached? %>
		</div>
	</span>
</li>
