<article class="micropost-<%= micropost.id %> micropost-container-wrapper border-bottom">
	<div class="micropost-container">
		<div class="my-flex-container flex-row micropost-flex-container">
			<div class="micropost-avatar rounded-circle overflow-hidden dimmer-wrapper loading-shimmer">
				<%= link_to micropost.user do %>
					<%= gravatar_for(micropost.user, size:50) %>
					<div class="dimmer"></div>
				<% end %>
			</div>
			<div class="my-flex-container flex-column micropost-main">
				<div>
					<span class="user">
						<%= link_to micropost.user.name, micropost.user %>
					</span>
					<span class="username">
						<%= link_to "@#{micropost.user.username}", micropost.user %>
					</span>
					<span class="timestamp">
						·
						<%= time_ago_in_words(micropost.created_at) %>
					</span>
					<% if current_user?(micropost.user) %>
						<span class="delete">
							·
							<%= link_to 'delete', micropost, method: :delete, data: { confirm: 'Are you sure?'} %>
						</span>
					<% end %>
				</div>
				<div>
					<div>
						<% if micropost.content %>
							<span class="micropost-content"><%= sanitize micropost.content_display.html_safe %></span>
						<% end %>
					</div>
					<% if micropost.image.attached? %>
						<%= render partial: 'shared/modals/image_micropost_toggle', locals: { micropost: micropost } %>
					<% end %>
				</div>

				<div class="micropost-stats flex flex-row">
					<div class="stat-container">
						<%= render partial: 'shared/micropost/info_bar/comment', locals: { micropost: micropost } %>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</article>

<% if micropost.image.attached? %>
	<%= render partial: 'shared/modals/image_micropost', locals: { micropost: micropost } %>
<% end %>

<script type="text/javascript">
	$("article.micropost-<%= micropost.id %>").click(function() {
	  // alert( "Handler for micropost-<%= micropost.id %>.click() called." );
		window.location.href = "<%= url_for micropost %>";
	});

	$("article.micropost-<%= micropost.id %> a").click(function(e) {
   e.stopPropagation();
	});

	$("article.micropost-<%= micropost.id %> .modal-toggle").click(function(e) {
	 $("#image-modal-micropost-<%= micropost.id %>").modal('show');
	 e.stopPropagation();
	});
</script>
