<article class="micropost-<%= micropost.id %> micropost-container-wrapper">
	<div class="micropost-container">
		<div class="my-flex-container flex-row micropost-flex-container">
			<div class="micropost-avatar">
				<div class="flex flex-column">
					<div class="flex-50">
						<%= link_to micropost.user, class: "dimmer-wrapper" do %>
							<%= gravatar_for(micropost.user, size:50) %>
							<div class="dimmer transition-03s"></div>
						<% end %>
					</div>
				</div>
			</div>
			<div class="my-flex-container flex-column micropost-main">
				<div>
					<span class="user">
						<%= link_to micropost.user.name, micropost.user %>
					</span>
					<span class="timestamp">
						·
						<%= time_ago_in_words(micropost.created_at) %>
					</span>
					<% if current_user?(micropost.user) %>
						<span class="delete">
							·
							<%= link_to 'delete', micropost, method: :delete, data: { confirm: 'Are you sure?'} %>
						</span>
					<% end %>
				</div>
				<div>
					<div>
						<span class="content">
							<%= micropost.content %>
						</span>
					</div>
					<% if micropost.image.attached? %>
						<!-- MODAL WRAPPER - BEGIN -->
						<div class="modal-wrapper">
							<!-- MODAL TOGGLE - BEGIN -->
							<div class="modal-toggle" data-toggle="modal" data-target="#micropost-<%= micropost.id %>-image-modal">
								<div class="image-block micropost-image-cover" style="background-image: url('<%= micropost.image_url %>');">
									<div class="flex flex-row flex-grow-1 justify-content-flex-end">
										<div class="flex-center empty">
											<div class="button-wrapper flex-center right-top-corner">
												<div class="button flex-center" aria-hidden="true">
													<%= render 'shared/svg/fullscreen' %>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- MODAL TOGGLE - END -->

							<!-- MODAL - BEGIN -->
							<%= render partial: 'shared/modals/micropost_image', locals: { micropost: micropost } %>
							<!-- MODAL - END -->
						</div>
						<!-- MODAL WRAPPER - END -->
					<% end %>
				</div>
			</div>
		</div>
	</div>
</article>
