<article class="micropost-<%= micropost.id %> micropost-container-wrapper border-bottom">
	<div class="micropost-container">
		<div class="my-flex-container flex-row micropost-flex-container">
			<div class="micropost-avatar rounded-circle overflow-hidden">
				<%= link_to micropost.user, class: "dimmer-wrapper" do %>
					<%= gravatar_for(micropost.user, size:50) %>
					<div class="dimmer"></div>
				<% end %>
			</div>
			<div class="my-flex-container flex-column micropost-main">
				<div>
					<span class="user">
						<%= link_to micropost.user.name, micropost.user %>
					</span>
					<span class="username">
						<%= link_to "@#{micropost.user.username}", micropost.user %>
					</span>
					<span class="timestamp">
						·
						<%= time_ago_in_words(micropost.created_at) %>
					</span>
					<% if current_user?(micropost.user) %>
						<span class="delete">
							·
							<%= link_to 'delete', micropost, method: :delete, data: { confirm: 'Are you sure?'} %>
						</span>
					<% end %>
				</div>
				<div>
					<div>
						<% if micropost.content %>
							<span class="content"><%= sanitize micropost.content_display.html_safe %></span>
						<% end %>
					</div>
					<% if micropost.image.attached? %>
						<!-- MODAL WRAPPER - BEGIN -->
						<div class="modal-wrapper">
							<!-- MODAL TOGGLE - BEGIN -->
							<div class="modal-toggle" data-toggle="modal" data-target="#image-modal-micropost-<%= micropost.id %>">
								<div class="micropost-image-wrapper">
									<div class="image-block rounded overflow-hidden">
										<div class="image-background micropost-image-cover" style="background-image: url('<%= micropost.image_url %>');">
											<div class="flex flex-row flex-grow-1 justify-content-flex-end">
												<div class="flex-center empty">
													<div class="button-wrapper flex-center right-top-corner">
														<div class="button flex-center" aria-hidden="true">
															<%= render 'shared/svg/fullscreen' %>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- MODAL TOGGLE - END -->

							<!-- MODAL - BEGIN -->
							<%= render partial: 'shared/modals/image_micropost', locals: { micropost: micropost } %>
							<!-- MODAL - END -->
						</div>
						<!-- MODAL WRAPPER - END -->
					<% end %>
				</div>
			</div>
		</div>
	</div>
</article>
