<article id="micropost-<%= micropost.id %>-container-wrapper" class="micropost-container-wrapper border-bottom">
	<div class="micropost-container">
		<div class="my-flex-container flex-row micropost-flex-container">

			<%= render partial: 'shared/avatar', locals: { user: micropost.user } %>

			<div class="my-flex-container flex-column micropost-main">
				<div>
					<span class="user">
						<%= link_to micropost.user.name, micropost.user %>
					</span>
					<span class="username">
						<%= link_to "@#{micropost.user.username}", micropost.user %>
					</span>
					<span class="timestamp">
						·
						<%= time_ago_in_words(micropost.created_at) %>
					</span>
					<% if current_user?(micropost.user) %>
						<span class="delete">
							·
							<%= link_to 'delete', micropost, method: :delete, data: { confirm: 'Are you sure?'} %>
						</span>
					<% end %>
				</div>
				<div>
					<div>
						<% if micropost.content %>
							<span class="micropost-content"><%= sanitize micropost.content_display.html_safe %></span>
						<% end %>
					</div>
					<% if micropost.image.attached? %>
						<%= render partial: 'shared/modals/image_micropost_toggle', locals: { micropost: micropost } %>
					<% end %>
				</div>

				<div class="micropost-stats flex flex-row justify-content-space-between" style="max-width: 200px;">
					<div class="stat-container comment-stat-container">
						<%= render partial: 'shared/micropost/info_bar/comment', locals: { micropost: micropost } %>
					</div>

					<% if logged_in? %>
						<div id="micropost-<%= micropost.id %>-vote-container" class="stat-container vote-container">
							<% if @current_user.voted_for? micropost %>
								<%= render partial: 'shared/micropost/info_bar/unvote_form', locals: { micropost: micropost } %>
							<% else %>
								<%= render partial: 'shared/micropost/info_bar/upvote_form', locals: { micropost: micropost } %>
							<% end %>
						</div>
					<% else %>
						<!-- Button trigger modal -->
						<div class="pseudo-vote-container flex-center" data-toggle="modal" data-target="#login-modal-upvote-micropost">
							<%= render partial: 'shared/micropost/info_bar/pseudo_upvote_form', locals: { micropost: micropost } %>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</article>

<% if micropost.image.attached? %>
	<%= render partial: 'shared/modals/image_micropost', locals: { micropost: micropost } %>
<% end %>

<script type="text/javascript">
	$("#micropost-<%= micropost.id %>-container-wrapper").click(function() {
		window.location.href = "<%= url_for micropost %>";
	});

	$("#micropost-<%= micropost.id %>-container-wrapper a, #micropost-<%= micropost.id %>-container-wrapper .vote-container").click(function(e) {
	 e.stopPropagation();
	});

	$("#micropost-<%= micropost.id %>-container-wrapper .image-micropost-modal-toggle").click(function(e) {
	 $("#image-modal-micropost-<%= micropost.id %>").modal('show');
	 e.stopPropagation();
	});
</script>
