<article class="micropost-<%= micropost.id %>">
	<div class="micropost-container">
		<div class="my-flex-container flex-row micropost-flex-container">
			<div class="micropost-avatar">
				<%= link_to gravatar_for(micropost.user, size:50), micropost.user %>
			</div>
			<div class="my-flex-container flex-column micropost-main">
				<div>
					<span class="user">
						<%= link_to micropost.user.name, micropost.user %>
					</span>
					<span class="timestamp">
						·
						<%= time_ago_in_words(micropost.created_at) %>
					</span>
					<% if current_user?(micropost.user) %>
						<span class="delete">
							·
							<%= link_to 'delete', micropost, method: :delete, data: { confirm: 'Are you sure?'} %>
						</span>
					<% end %>
				</div>
				<div>
					<%= micropost.content %>
					<% if micropost.image.attached? %>
						<div class="image-block micropost-image-cover" style="background-image: url('<%= micropost.image_url %>');" data-toggle="modal" data-target="#my-micropost-modal-<%= micropost.id %>">
							<div class="micropost-image"></div>
						</div>

						<!-- IMAGE MODAL - BEGIN -->
							<!-- Button trigger modal -->
							<div class="flex-center">
								<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#my-micropost-modal-<%= micropost.id %>">
								  Show large image
								</button>
							</div>
							<!-- Modal -->
							<div class="modal fade" id="my-micropost-modal-<%= micropost.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
							  <div class="modal-dialog" role="document">
							    <div class="modal-content">
							      <div class="modal-body">
											<div class="flex-center max-dem no-scroll">
												<button type="button" class="close" data-dismiss="modal" aria-label="Close">
													<div class="button-bg-wrapper">
														<div class="button-bg my-flex-container flex-center">
															<div class="close-button" aria-hidden="true">
																<svg viewBox="0 0 24 24" class="r-jwli3a r-4qtqp9 r-yyyyoo r-1q142lx r-50lct3 r-dnmrzs r-bnwqim r-1plcrui r-lrvibr"><g><path d="M13.414 12l5.793-5.793c.39-.39.39-1.023 0-1.414s-1.023-.39-1.414 0L12 10.586 6.207 4.793c-.39-.39-1.023-.39-1.414 0s-.39 1.023 0 1.414L10.586 12l-5.793 5.793c-.39.39-.39 1.023 0 1.414.195.195.45.293.707.293s.512-.098.707-.293L12 13.414l5.793 5.793c.195.195.45.293.707.293s.512-.098.707-.293c.39-.39.39-1.023 0-1.414L13.414 12z"></path></g></svg>
															</div>
														</div>
													</div>
												</button>
												<div>
													<%= image_tag micropost.image %>
												</div>
											</div>
							      </div>
							    </div>
							  </div>
							</div>
						<!-- IMAGE MODAL - END -->
					<% end %>
				</div>
			</div>
		</div>
	</div>
</article>
