<div class="pride-banner">
  <div class="pride-wrapper">
    <p>SAMPLE APP supports LGBTQ+ community.</p>
  </div>
</div>

<nav class="navbar navbar-inverse navbar-static-top">

  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-brand navbar-item">
    <% if logged_in? %>
      <%= link_to home_path , id: 'logo' do %>
        <span style="vertical-align: text-bottom;">
          Sample App
        </span>
      <% end %>
    <% else %>
      <%= link_to root_path , id: 'logo' do %>
        <span style="vertical-align: text-bottom;">
          Sample App
        </span>
      <% end %>
    <% end %>
  </div>

  <button type="button" class="navbar-toggle my-navbar-toggle collapsed my-navbar-toggler-mobile" data-toggle="collapse" data-target="#bs-navbar-collapse-1" aria-expanded="false">
    <!-- <span class="hamburger-label">Menu</span> -->
    <div class="hamburger-box">
      <div class="hamburger-inner"></div>
    </div>
  </button>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse my-navbar-collapse" id="bs-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
      <li>
        <%= active_link_to root_path, active: [static_pages: :home] do %>
          <div class="flex flex-center-y h-100 justify-content-space-between">
            <span class="my-label">Home</span>
            <span class="my-arrow home hide-for-large-device">
              <%= render 'shared/svg/arrow' %>
            </span>
          </div>
        <% end %>
      </li>
      <% if logged_in? %>
        <li>
          <%= active_link_to users_path, active: [users: :index] do %>
            <div class="flex flex-center-y h-100 justify-content-space-between">
              <span class="my-label">Explore</span>
              <span class="my-arrow">
                <%= render 'shared/svg/arrow' %>
              </span>
            </div>
          <% end %>
        </li>
        <li class="dropdown flex flex-column">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <div class="flex flex-center-y h-100 justify-content-space-between">
              <div class="flex flex-center-y">
                <span class="my-label"><%= @current_user.name %></span>
                <div class="rounded-circle overflow-hidden" style="margin-left: 7.5px;">
                  <%= gravatar_for(@current_user, size: 30) %>
                </div>
              </div>
              <span class="my-caret" style="margin-left: 5px;">
                <%= render 'shared/svg/caret' %>
              </span>
            </div>
          </a>
          <ul class="dropdown-menu">
            <li>
              <%= link_to @current_user do %>
                <span class="my-label">Profile</span>
              <% end %>
            </li>
            <li>
              <%= link_to edit_user_path(@current_user) do %>
                <span class="my-label">Settings</span>
              <% end %>
            </li>
            <li class="divider"></li>
            <li>
              <%= link_to logout_path, method: 'delete' do %>
                <span class="my-label">Log out</span>
              <% end %>
            </li>
          </ul>
        </li>
      <% else %>
        <li class="login-signup-wrapper">
          <%= active_link_to login_path, active: [sessions: :new], class: "hide-if-active btn btn-primary follow-button login-button flex flex-center-y h-100 justify-content-space-between" do %>
            <span class="my-label">Log in</span>
          <% end %>
          <%= active_link_to signup_path, active: [users: :new], class: "hide-if-active btn btn-primary my-button signup-button flex flex-center-y h-100 justify-content-space-between" do %>
            <span class="my-label">Sign up</span>
            <% unless current_page?(signup_path) %>
              <span class="my-arrow">
                <%= render 'shared/svg/arrow' %>
              </span>
            <% end %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <!-- /.navbar-collapse -->
</nav>

<script type="text/javascript">
  $(document).ready( function () {
    $('a').mousedown(function () {
      $(this).addClass("mousedown");

      $(this).focusout(function() {
        $(this).removeClass("mousedown");
      });
    });

    $('.modal button').mousedown(function () {
      $(this).addClass("mousedown");

      $(this).focusout(function() {
        $(this).removeClass("mousedown");
      });
    });

    $('.modal-toggle button').mousedown(function () {
      $(this).addClass("mousedown");

      $(this).focusout(function() {
        $(this).removeClass("mousedown");
      });
    });
  });
</script>
